<li>
  <%= link_to comment.user.nickname, user_path(comment.user), class: "font-bold" %>
  <%= render partial: 'shared/truncator', locals: { content: comment.content, length: 110} %>
  <%= render partial: 'likes/likeable', locals: { likeable: comment } %>
</li>