<div class="flex">
  <textarea data-action="comment#active"
            data-comment-target="content"
            class="textarea textarea-bordered w-full resize-none h-0"
            placeholder="Add a comment..."
            id="comment-btn"></textarea>
  <button data-action="comment#post"
          data-comment-target="button"
          class="btn ml-2">
    Post
  </button>
</div>

