<div class="flex">
  <textarea data-action="comment#active"
            data-comment-target="content"
            class="textarea textarea-bordered">
  </textarea>
  <button data-action="comment#post"
          data-comment-target="button"
          class="btn">
    Post
  </button>
</div>

