<%= form_with model: [post, post.comments.build], local: false do |f| %>
  <div class='field'>
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: :content %>
  </div>

  <%= f.submit %>
<% end %>
