<div class="flex">
  <textarea data-action="comment#active"
            data-comment-target="content"
            rows="1"
            class="textarea textarea-bordered w-full resize-none"></textarea>
  <button data-action="comment#post"
          data-comment-target="button"
          class="btn ml-2">
    Post
  </button>
</div>

