<div data-controller="switcher"
     data-switcher-target="switcher"
     data-switcher-url-value="<%= like_path(like) %>">
  <button data-action="switcher#off counter#subtract"
          class="btn">
    Dislike
  </button>
</div>