<input type="checkbox" id="likeable-<%= likeable.id %>" class="modal-toggle">
<label for="likeable-<%= likeable.id %>" class="modal cursor-pointer">
  <label class="modal-box relative p-0" for="">
    <ul class="flex flex-col divide-y divide-solid divide-slate-400/25">
      <% if likeable.likes.blank? %>
        <li class="p-5">
          <p>Nobody liked it yet...</p>
        </li>
      <% else %>
      <% likeable.likes.each do |like| %>
        <li class="p-5">
          <p class="font-bold"><%= like.user.nickname %></p>
          <small><%= like.user.name %></small>
        </li>
      <% end %>
      <% end %>
    </ul>
  </label>
</label>