<div data-controller="truncator"
     data-truncator-length-value="<%= length %>">
  <p data-truncator-target="content">
    <%= content %>
  </p>
  <button data-action="truncator#view"
          data-truncator-target="button"
          class="link">
    more
  </button>
</div>