<div data-controller="switcher"
     data-switcher-target="switcher"
     data-switcher-url-value="<%= follow_path(follow) %>">
  <button data-action="switcher#off counter#subtract"
          class="btn">
    Unfollow
  </button>
</div>